{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="single-item">
  <div class="left-set">
    <img src="static/img/{{item[0]}}" alt=""/>
  </div>
  <div class="right-set">
    <div class="name">{{item[1]}}</div>
    <div class="price">Средняя цена: {{item[3]}}</div>
    <div class="description">
    <p>
      {{item[2]}}
    </p>
    </div>
    {%for n in item[4].split('+')%}
    <form action={{n}}>
      <button>Перейти в магазин</button>
    </form>
    <br>
    {% endfor %}
  </div>
</div>
{% endblock %}